# Python virtual environment
.venv/

# Python bytecode
__pycache__/
*.py[cod]
*.so

# Environment variable or secret key files
.env
.env.*
supabase/supabase_access_key.py

# Editor & OS files
.vscode/
.DS_Store